html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: content-box;
}

.container {
  max-width: 980px;
  margin: auto;
  margin-bottom: 3.75rem;
}

body {
  font-family: Lato, sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  margin: 0;
}

a,
body {
  color: #72767b;
  font-weight: 400;
  line-height: 28px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, sans-serif;
}

h1,
h2,
h2 a {
  color: #484d52;
  margin-bottom: 1rem;
}

h2,
h2 a {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.85px;
  line-height: 42px;
}

p a {
  text-decoration: underline;
}
a {
  font-size: 14px;
  letter-spacing: 0.35px;
  text-decoration: none;
}
a,
body {
  color: #72767b;
  font-weight: 400;
  line-height: 28px;
}
